
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagen\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #3b3c83;
    color: #ffffff;
    text-align: right;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav a{
    color: #ffffff;
}

